{% liquid
  if image_ratio == blank or image_ratio == 'adapt'
    assign image_ratio = '1/1'
  endif

  assign current = current | default: 1
%}
<div class="product-card {{ custom_class }}">
  <div class="product-card__wrapper">
    <div class="product-card__image-wrapper" style="--aspect-ratio: {{ image_ratio }};">
      {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
    <div class="product-card__info">
      <h3 class="product-card__title text-pcard-title">{{- 'onboarding.product_title' | t -}}</h3>
      {% render 'price' %}
    </div>
  </div>
</div>
