<label for="SortBy" class="text-nowrap {{ label_class }}">
  {{- 'products.facets.sort_by_label' | t -}}
</label>
<div class="select w-auto facet-short flex items-center gap-2 flex-grow">
  {%- assign sort_by = results.sort_by | default: results.default_sort_by -%}
  <select
    name="sort_by"
    class="form-control form-control--select"
    id="SortBy"
    aria-describedby="a11y-refresh-page-message"
    is="facet-short"
  >
    {%- for option in results.sort_options -%}
      <option
        value="{{ option.value | escape }}"
        {% if option.value == sort_by %}
          selected="selected"
        {% endif %}
      >
        {{ option.name | escape }}
      </option>
    {%- endfor -%}
  </select>
  {% render 'icon-caret-down', size: icon_size %}
</div>
